In [1]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import MinMaxScaler, StandardScaler

In [3]:
datasets = pd.read_csv('./Data_for_Transformation.csv')
datasets

    Country  Age  Salary Purchased
0    France   44   72000        No
1     Spain   27   48000       Yes
2   Germany   30   54000        No
3     Spain   38   61000        No
4   Germany   40   68000       Yes
5    France   35   58000       Yes
6     Spain   39   52000        No
7    France   48   79000       Yes
8   Germany   50   83000        No
9    France   37   67000       Yes
10    Spain   45   55000        No

In [6]:
X_new = datasets.iloc[:,1:3].values
X_new

array([[   44, 72000],
       [   27, 48000],
       [   30, 54000],
       [   38, 61000],
       [   40, 68000],
       [   35, 58000],
       [   39, 52000],
       [   48, 79000],
       [   50, 83000],
       [   37, 67000],
       [   45, 55000]], dtype=int64)

In [7]:
scaler = MinMaxScaler()
X_scaled = scaler.fit_transform(X_new)

X_scaled

array([[0.73913043, 0.68571429],
       [0.        , 0.        ],
       [0.13043478, 0.17142857],
       [0.47826087, 0.37142857],
       [0.56521739, 0.57142857],
       [0.34782609, 0.28571429],
       [0.52173913, 0.11428571],
       [0.91304348, 0.88571429],
       [1.        , 1.        ],
       [0.43478261, 0.54285714],
       [0.7826087 , 0.2       ]])