**practice of diff data structures**

In [ ]:
#shallow copy, deepcopy and normal assignment like x1 = x
import copy

#1 normal assigmnent --> if we change x1 then similarly change will also happen in x , so in simple word it works as a referance
x = [1,2,"hii", [7,5]]

x1 = x
x.pop(3)

print(x1)
print(x)

#2 shallow copy  --> not chane the originsl data of y

y = ["heyy", 4,7, [234, 8]]

y1 = copy.copy(y)

y1.pop(0)
y.pop(2)

print(y)
print(y1)


#deep copy -->

z = [1,2,"ajsxg", [87,"yabc"]]

z1 = copy.deepcopy(z)

z1.pop(0)

print(z)
print(z1)

[1, 2, 'hii']
[1, 2, 'hii']
['heyy', 4, [234, 8]]
[4, 7, [234, 8]]
[1, 2, 'ajsxg', [87, 'yabc']]
[2, 'ajsxg', [87, 'yabc']]

In [ ]:
#tuples 

t1 = (1,2,3,)
print(t1)

t1 = t1*3
print(t1)

t2 = ("hello",) #---> ',' is needed while we want to create tuple of one value otherwise it will acts like a string

for i in range(4) : # what is the meaning of this ????
  t2 = (t2,)

print(t2)

(1, 2, 3)
(1, 2, 3, 1, 2, 3, 1, 2, 3)
((((('hello',),),),),)

In [ ]:
#set()

#set is a dataStructure which is implemented by hash map so..
#  1 -> we can not access it with index
#  2 -> it we be in any order, means in append(x) it is not neccessary that x will append at the end of the set 

s = set([1,2,3,"hii", 5, "bye"])
print(s)

s.add("nice to meet you")
print(s)

#about frozen set --> is a immutable set

s1 = frozenset([3,5,"asdfgf"])
#s1.add(789) --. this will give error

print(s1)

{1, 2, 3, 'hii', 5, 'bye'}
{1, 2, 3, 'hii', 5, 'nice to meet you', 'bye'}
frozenset({3, 5, 'asdfgf'})

In [ ]:
#dictionary

#two diff ways of diclaration
d = {1:"hello", 3:"world"}
d1 = dict({'hii':123, 456: "bye"})

print(d)
print(d1)

# delete a value having index --> pop(index)
# delete all arbitary index -> value pair --> popitem()
# empty the dict --> clear()

{1: 'hello', 3: 'world'}
{'hii': 123, 456: 'bye'}

**Now start the assignments quetions**

In [ ]:
#1

names = ['ramu', 'shyamu', 'kanu', 'manu', 'ramu', 'radha', 'manu']

for i in names :
  print(i, end =" ")

ramu shyamu kanu manu ramu radha manu

In [ ]:
#2

names = ['ramu', 'shyamu', 'kanu', 'manu', 'ramu', 'radha', 'manu']
s = set();

for i in names:
  s.add(i)
print(s)

{'shyamu', 'kanu', 'manu', 'radha', 'ramu'}

In [ ]:
#3

records = dict({"rec1" : {"id" : 12,"name" : "manav","age" : 19,"percentage" : 99}, 
                "rec2" : {"id" : 87,"name" : "vinit","age" : 18,"percentage" : 99}});
records["rec3"] ={"id" : 34,"name" : "mihir","age" : 18,"percentage" : 98}

for rec in records :
    for val in records[rec] :
      print(records[rec][val], end = " " )
    print()

12 manav 19 99
87 vinit 18 99
34 mihir 18 98

In [ ]:
#4
records = dict({"rec1" : {"id" : 12,"name" : "manav","age" : 19,"percentage" : 99}, 
                "rec2" : {"id" : 87,"name" : "vinit","age" : 18,"percentage" : 99}});

records1 = dict({"rec3" : {"id" : 22,"name" : "preet","age" : 19,"percentage" : 99}, 
                "rec4" : {"id" : 25,"name" : "kushal","age" : 19,"percentage" : 99}});

records3 = {**records, **records1};

# print(records3)

for rec in records3 :
    for val in records3[rec] :
      print(records3[rec][val], end = " " )
    print()

12 manav 19 99
87 vinit 18 99
22 preet 19 99
25 kushal 19 99

In [ ]:
#5

records = dict({"rec1" : {"id" : 12,"name" : "manav","age" : 19,"percentage" : 99}, 
                "rec2" : {"id" : 87,"name" : "vinit","age" : 18,"percentage" : 99},
                "rec3" : {"id" : 565,"name" : "preet","age" : 19,"percentage" : 99}, 
                "rec4" : {"id" : 55,"name" : "kushal","age" : 18,"percentage" : 99},
                "rec5" : {"id" : 89,"name" : "mann","age" : 19,"percentage" : 99}, 
                "rec6" : {"id" : 990,"name" : "meet","age" : 18,"percentage" : 99}}          
               );

count = 0;

for ind in records :
  if(count < 5) :
    count += 1
    for ind2 in records[ind] :     
        print(records[ind][ind2], end = " ")       
  else :
    break;
  print()

12 manav 19 99
87 vinit 18 99
565 preet 19 99
55 kushal 18 99
89 mann 19 99

In [ ]:
#6
records = dict({"rec1" : {"id" : 12,"name" : "manav","age" : 19,"percentage" : 99}, 
                "rec2" : {"id" : 87,"name" : "vinit","age" : 18,"percentage" : 99},
                "rec3" : {"id" : 565,"name" : "preet","age" : 19,"percentage" : 99}, 
                "rec4" : {"id" : 55,"name" : "kushal","age" : 18,"percentage" : 99},
                "rec5" : {"id" : 89,"name" : "mann","age" : 19,"percentage" : 99}, 
                "rec6" : {"id" : 990,"name" : "meet","age" : 18,"percentage" : 99}}          
               );

li = []

for ind in records :
    if records[ind]["name"] == "manav":
      li.append(ind)

for i in li :
  records.pop(i)

print(records)

{'rec2': {'id': 87, 'name': 'vinit', 'age': 18, 'percentage': 99}, 'rec3': {'id': 565, 'name': 'preet', 'age': 19, 'percentage': 99}, 'rec4': {'id': 55, 'name': 'kushal', 'age': 18, 'percentage': 99}, 'rec5': {'id': 89, 'name': 'mann', 'age': 19, 'percentage': 99}, 'rec6': {'id': 990, 'name': 'meet', 'age': 18, 'percentage': 99}}

In [ ]:
#7

D1 = {"ram":60, "shyam":70, "radha":70}
D2 = {"ram":70, "shyam":80, "gopi":60}
avg = dict();
for ind in D1 : 
  if ind in D2.keys() :
    avg[ind] =int(( D1[ind] + D2[ind] ) /2)
  else :
    avg[ind] = D1[ind]

for ind in D2 :
    if ind in avg.keys() :
      pass
    else :
      avg[ind] = D2[ind]

print(avg)

{'ram': 65, 'shyam': 75, 'radha': 70, 'gopi': 60}

In [ ]:
#8
records = dict({"rec1" : {"id" : 12,"name" : "manav","age" : 19,"percentage" : 99}, 
                "rec2" : {"id" : 87,"name" : "vinit","age" : 18,"percentage" : 99},
                "rec3" : {"id" : 565,"name" : "preet","age" : 19,"percentage" : 99}, 
                "rec4" : {"id" : 55,"name" : "kushal","age" : 18,"percentage" : 99},
                "rec5" : {"id" : 89,"name" : "mann","age" : 19,"percentage" : 99}, 
                "rec6" : {"id" : 990,"name" : "meet","age" : 18,"percentage" : 99}}          
               );

for z in (sorted(records.items(), reverse = False, key = lambda kv: kv[1]['name'])) : 
  print(z)

('rec4', {'id': 55, 'name': 'kushal', 'age': 18, 'percentage': 99})
('rec1', {'id': 12, 'name': 'manav', 'age': 19, 'percentage': 99})
('rec5', {'id': 89, 'name': 'mann', 'age': 19, 'percentage': 99})
('rec6', {'id': 990, 'name': 'meet', 'age': 18, 'percentage': 99})
('rec3', {'id': 565, 'name': 'preet', 'age': 19, 'percentage': 99})
('rec2', {'id': 87, 'name': 'vinit', 'age': 18, 'percentage': 99})

In [ ]:
#9
dic = [{"V":"S001"}, {"V": "S002"}, {"VI": "S001"}, {"VI":
"S005"}, {"VII":"S005"}, {"V":"S009"},{"VIII":"S007"}]
s = set()
for i in dic:
  for j in i:
    s.add(i[j])

print(s)

In [ ]:
# Q10
Maths = {1, 2, 3, 5, 7, 9}
Physics = { 2, 4, 6, 9}
Chemistry = {1, 3, 5, 9}
print("Maths & Physics : ",Maths.union(Physics))
print("Chemistry & Physics : ",Chemistry.union(Physics))
print("Maths & Chemistry : ",Maths.union(Chemistry))
print("Only one subject : ",(Chemistry ^ Maths ^ Physics)  - (Chemistry & Maths & Physics))

## Task 1

In [1]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import LabelEncoder,OneHotEncoder

df = pd.read_csv('Dataset2.csv')
df.head()

  Outlook Temp Wind Humidity Class
0       R    H    F   Normal     N
1       R    H    T     High     N
2       O    H    F   Normal     Y
3       S    M    F   Normal     N
4       S    M    F   Normal     Y

In [3]:
le = LabelEncoder()
df["Outlook"] = le.fit_transform(df["Outlook"])
df["Temp"] = le.fit_transform(df["Temp"])
df["Wind"] = le.fit_transform(df["Wind"])
df["Humidity"] = le.fit_transform(df["Humidity"])
df["Class"] = le.fit_transform(df["Class"])

df.head()

   Outlook  Temp  Wind  Humidity  Class
0        1     1     0         2      0
1        1     1     1         0      0
2        0     1     0         2      1
3        2     2     0         2      0
4        2     2     0         2      1

In [11]:
X = df.iloc[:, :-1]
y = df["Class"]

In [12]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=10, random_state=70)

In [15]:
from sklearn.naive_bayes import GaussianNB
gnb = GaussianNB()
gnb.fit(X_train, y_train)
gnb.score(X_test, y_test)

0.7

## Task2 : Digits Dataset

In [25]:
from sklearn import datasets

digits = datasets.load_digits()
digits
X = digits.data
Y = digits.target

In [27]:
len(X[0])

64

In [34]:
len(X), len(Y)

(1797, 1797)

In [37]:
X[0]

array([ 0.,  0.,  5., 13.,  9.,  1.,  0.,  0.,  0.,  0., 13., 15., 10.,
       15.,  5.,  0.,  0.,  3., 15.,  2.,  0., 11.,  8.,  0.,  0.,  4.,
       12.,  0.,  0.,  8.,  8.,  0.,  0.,  5.,  8.,  0.,  0.,  9.,  8.,
        0.,  0.,  4., 11.,  0.,  1., 12.,  7.,  0.,  0.,  2., 14.,  5.,
       10., 12.,  0.,  0.,  0.,  0.,  6., 13., 10.,  0.,  0.,  0.])

In [39]:
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=35, random_state=70)

In [40]:
from sklearn.naive_bayes import GaussianNB
gnb = GaussianNB()
gnb.fit(X_train, y_train)
gnb.score(X_test, y_test)

0.9714285714285714